@model Pickup_Management.ViewModels.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "تسجيل";
}
<h2>@ViewBag.Title</h2>
<h3>الربط مع @ViewBag.LoginProvider</h3>
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <p class="text-info">
                يرجى إكمال التسجيل والضغط على متابعة
            </p>

            <div class="form-outline mb-4">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

            </div>
            <input type="submit" value="متابعة" class="btn btn-primary btn-block mb-4" />
        }
    </div>
</div>